---
const currentYear = new Date().getFullYear();
---

<footer class="footer-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
          <ul class="social-icon wow fadeInUp" data-wow-delay="0.8s">
            <li>
              <a class="linkedin" href="https://www.linkedin.com/in/prestonwallace/" target="_blank" rel="noreferrer"><i class="icon-social-linkedin"></i></a>
            </li>
          </ul>
          © {currentYear}, Built by Preston Wallace
        </div>
      </div>
    </div>
  </div>
</footer>
