---
---

<div id="hero-area" class="hero-area-bg">
  <div class="content-container">
    <div class="row">
      <div class="hero-content">
        <div>
          <h2 class="hero-title">Product Engineering</h2>
          <div class="script-font with-rules">FOR</div>
          <h2 class="hero-title">Operators</h2>
          <div class="hero-tagline">We build web apps, mobile apps, and internal tools.<br/>End-to-end ownership, minimal meetings, clear milestones.</div>
          <br/>
          <a href="#contact" class="button button-info hover-grow">Request an intro</a>
        </div>
      </div>
    </div>
  </div>
</div>
