---
import Logo from './Logo.astro';

const navigation = [
  { name: 'What We Do', href: '#what-we-do' },
  { name: 'How We Work', href: '#how-we-work' },
  { name: 'Examples', href: '#examples' },
  { name: 'Who We Are', href: '#who-we-are' },
  { name: 'Contact', href: '#contact' },
];
---

<nav id="navbar" class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-between">
        <div class="flex flex-shrink-0 items-center">
          <a href="/">
            <div class="flex flex-shrink-0 items-center">
              <Logo width={200} height={40} tagline={true} />
            </div>
          </a>
        </div>
        <div class="hidden sm:ml-6 sm:block flex flex-justify-center flex-align-center">
          <div class="flex space-x-4">
            {navigation.map((item) => (
              <a
                key={item.name}
                href={item.href}
                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-md font-bold"
              >
                {item.name}
              </a>
            ))}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
